<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Gavys</string>
		<key>Image</key>
		<string>lake1</string>
		<key>Size</key>
		<string>23</string>
		<key>Depth</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ilgis</string>
		<key>Image</key>
		<string>lake1.jpg</string>
		<key>Size</key>
		<string></string>
		<key>Depth</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Šiekštys</string>
		<key>Image</key>
		<string>lake1.jpg</string>
		<key>Size</key>
		<string></string>
		<key>Depth</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mekšrinis</string>
		<key>Image</key>
		<string>lake1.jpg</string>
		<key>Size</key>
		<string></string>
		<key>Depth</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Paplovinis</string>
		<key>Image</key>
		<string>lake1.jpg</string>
		<key>Size</key>
		<string></string>
		<key>Depth</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Palaukinis</string>
		<key>Image</key>
		<string>lake1.jpg</string>
		<key>Size</key>
		<string></string>
		<key>Depth</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Agarinis</string>
		<key>Image</key>
		<string>lake1.jpg</string>
		<key>Size</key>
		<string></string>
		<key>Depth</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gulbinis</string>
		<key>Image</key>
		<string>lake1.jpg</string>
		<key>Size</key>
		<string></string>
		<key>Depth</key>
		<string></string>
	</dict>
</array>
</plist>
